.heading {
  text-align: center;
}

.list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.inp {
  text-align: center;
}

.inp input {
  margin: 0.5rem;
}

.data{
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.data h2{
  margin-left: 10px;
}
